[Unit]
Description=Crown LED Service
After=network.target

[Service]
WorkingDirectory=/home/pi/crown/Crown
ExecStart=/opt/java/bin/java -Xms256m -Xmx1g -cp "/home/pi/crown/Crown/build-tmp:/home/pi/crown/Crown/code/*" RunHeadless /home/pi/crown/Crown
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
